
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.login{
  width: 100vw;
  height: 100vh;
}
.EmployeeDash{
  background-color: rgb(27, 4, 4);
  color: white;
 
}
.Tasklist{
  max-height: 250px;
  display: flex;
  overflow-x: auto;
  
}
.Tasklist::-webkit-scrollbar{
  width: 0;
}
.Tasklist .item{
  min-width: 250px;
  height: 230px;
  background-color: aliceblue;
  margin-left: 10px;
}
.AdminDash{
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  text-align: start;
}
.AllTask::-webkit-scrollbar{
  height: 0;
}